python-telegram-bot>=20.0
apscheduler>=3.10.0
python-dotenv>=1.0.0
pytz>=2023.3
google-api-python-client>=2.100.0
google-auth>=2.23.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=1.0.0
google~=3.0.0
protobuf~=6.30.2
pymongo>=4.0.0
